.container{
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 4px 4px 16px -8px rgba(0, 0, 0, 0.25);
    text-align: center;
    width: fit-content;
}
.avatar{
    border-radius: 100%;
    box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.5);
    margin: 2rem 0 1rem;
    width: 150px;
    height: 150px;
}

.links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}